.restaurants-section {
    /* background-color: #f8f9fa; Light background for contrast */
  }
  
  .restaurants-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333; /* Dark color for better readability */
  }

  /* Center cards in swiper slides */
  .restaurants-section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }